.react-date-picker {
  display: block !important;
  border: none;
  &__wrapper {
    flex-direction: row-reverse;
    padding: 26px 40px !important;
    border: none !important;

    background-color: #fff !important;
  }

  &__calendar-button {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 48px;
      background-color: #5200d9;
    }
  }
}

.react-date-picker__inputGroup {
  font-size: 18px;
  font-weight: 400;
  color: #11002d;
  background-color: #fff;
}
